<%- include('../../partials/headers/__header-dashbaord.ejs', { title: 'Data Aplikasi' }) %>
<%- include('../../partials/navs/__nav-admin.ejs') %>
<%- include('../../partials/messages/__messages-dashbaord.ejs') %>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Aplikasi</h4>
                  <form action="/admin/aplikasi/update/<%= aplikasi.id %>" method="POST" data-loading>
                    <div class="form-group">
                      <label for="nama_aplikasi">Nama Aplikasi</label>
                      <input type="text" class="form-control" id="nama_aplikasi" name="nama_aplikasi" value="<%= aplikasi.nama_aplikasi %>" placeholder="Masukkan nama aplikasi" required>
                    </div>
                    <div class="form-group">
                      <label for="hak_akses">Hak Akses</label>
                      <input type="text" class="form-control" id="hak_akses" name="hak_akses" value="<%= aplikasi.hak_akses %>" placeholder="Masukkan hak akses" required>
                    </div>
                    <div class="d-flex">
                      <button type="submit" class="btn btn-primary mr-2">Simpan</button>
                      <a href="/admin/aplikasi" class="btn btn-light" data-loading>Kembali</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/scripts/__script-dashbord.ejs') %>