<%- include('../../partials/headers/__header-dashbaord.ejs', { title: 'Periode Akun' }) %>
<%- include('../../partials/navs/__nav-admin.ejs') %>
<%- include('../../partials/messages/__messages-dashbaord.ejs') %>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Periode Akun</h4>
                  <form action="/admin/periode/update/<%= periode.id %>" method="POST" data-loading>
                    <div class="form-group">
                      <label>Nama Pegawai</label>
                      <input type="text" class="form-control" value="<%= periode.nama || '-' %>" readonly style="background-color:#f8f9fa;cursor:not-allowed;">
                    </div>
                    <div class="form-group">
                      <label for="periode_mulai">Periode Mulai</label>
                      <input type="datetime-local" class="form-control" id="periode_mulai" name="periode_mulai" value="<%= (typeof data != 'undefined' && data.periode_mulai) || periode.periode_mulai %>" required>
                    </div>
                    <div class="form-group">
                      <label for="periode_berakhir">Periode Berakhir</label>
                      <input type="datetime-local" class="form-control" id="periode_berakhir" name="periode_berakhir" value="<%= (typeof data != 'undefined' && data.periode_berakhir) || periode.periode_berakhir %>" required>
                    </div>
                    <div class="d-flex">
                      <button type="submit" class="btn btn-primary mr-2">Simpan</button>
                      <a href="/admin/periode" class="btn btn-light" data-loading>Kembali</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/scripts/__script-dashbord.ejs') %>