<%- include('../partials/headers/__header-dashbaord.ejs', { title: 'Dashboard Admin' }) %>
<%- include('../partials/navs/__nav-admin.ejs') %>
<%- include('../partials/messages/__messages-dashbaord.ejs') %>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 grid-margin stretch-card">
                <div class="stat-card card w-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <div class="stat-label">Pegawai Dalam Proses</div>
                                <div class="stat-number" data-count="<%= pustakawanProses %>"><%= pustakawanProses %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 grid-margin stretch-card">
                <div class="stat-card card w-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <div class="stat-label">Pegawai Aktif</div>
                                <div class="stat-number" data-count="<%= pustakawanAktif %>"><%= pustakawanAktif %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 grid-margin stretch-card">
                <div class="stat-card card w-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <div class="stat-label">Pegawai Belum Daftar Ulang</div>
                                <div class="stat-number" data-count="<%= pustakawanNotReRegistered %>"><%= pustakawanNotReRegistered %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/scripts/__script-dashbord.ejs') %>